.modal-header .nav-item {
    font-size: 1rem;
    width: 50%;
    display: inline-block;
}

.modal-header .modal-title {
    width: 100%;
}

.login-form .form-label {
    float: left;
    padding-left: 15px;
}

.container .form-label {
    float: left;
}

.register-form .form-label {
    float: left;
    padding-left: 15px;
}

.modal-login-title {
    width: 100%;
}

.card .navbar-nav {
    display: inherit;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}