.footer{
    /* background-color: rgb(196, 191, 191); */
    background-color: rgb(161, 158, 158);
    color: black;
}


.right{
    float: left;
    
}

li a{color:black}


.link_title1{
   
   flex-direction: column;
   flex-grow: 1;
   display: flex;
    
}

.title1{
    float: right;
    
}


li {list-style-type: none;}