/**
 * @author: Bhagyashree
 */ 
ul{
    list-style-type : none;
}
.card-background{
    background-color: #1a237e;
    color:white;
}

.image{
        width: 150;
        height: 150;
        border-radius: 150 / 2;
        overflow: "hidden";
        border-width: 3;
        border-color: "red";
      }
.options{
    width: 80;
    height:90;
    margin-left: 2px;
    margin-right:0px;
}

.background{
  
    
}
.search_css{
    background-color: white;
}
.search-center{
    align-self: center;
    align-content: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.m-2{
 margin-right: 20px;
}