.sponsor-root {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: white;

}

html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: white;
}

#root {
    height: 100%;
    width: 100%;
}
.pet-info {
    height: 100%;
    width: 40%;
    display: inline-block;
    padding-top: 1rem;
    float: left;
    padding-left: 5rem;
}
.pet-image {
    height: 100%;
    width: 100%;
}

.pet-image-info {
    padding: 3rem;
    height: 60%;
    width: 80%;
    display: inline-block;
    float: left;
    border-radius: 10px;
    border: 2px solid lightgray;
    box-shadow: 2px 6px 1px lightgrey;
}

.payment-info {
    height: 100%;
    width: 59%;
    display: inline-block;
    padding: 1rem 3rem 3rem 3rem;
}
.pet-description-info{
    padding: 1rem 3rem 2rem 3rem;
    height: 30%;
    width: 80%;
    display: inline-block;
    float: left;
    text-align: left;
    border-radius: 10px;
    border: 2px solid gray;
    margin-top: 2rem;
    border-radius: 10px;
    border: 2px solid lightgray;
    box-shadow: 2px 6px 1px lightgrey;
}

.vertical-line {
    display: inline-block;
    height: 100%;
    width: 1%;
    float: left;
}
.vertical-line-item {
    width: 1px;
    height: 97%;
    background: #b5b3b3;
    border: none;
    margin-top: 1rem;
    margin-bottom: auto; 
}
.payment-outline {
    height: 100%;
    width: 80;
    border-radius: 10px;
    border: 2px solid lightgray;
    box-shadow: 2px 6px 1px lightgrey;
}

.payment-main {
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.payment-main .btn-block {
    width: 47%;
    text-align: center;
    margin-left: 15.5rem;
}

.payment-details {
    height: 90%;
    width: 100%;
    padding-left: 15rem;
    padding-right: 13rem;
    text-align: left;
}
.payment-details .form-group {
    margin-left: 1rem;
}
.sample {
    width: 100%;
}

.ExpiryCVV {
    padding-left: 0px;
    padding-right: 0px;
}
.bSpxGd {
    width: 100%;
}
.hFJVck {
    border: 1px solid lightgrey;
    width: 100%
}

.payment-details .label {
    font-weight: 500;
}
.labelClass {
    font-weight: 500;
}
